body {
	background: #eee;
	color: #444;
}

#logo {
	font-size: 18px;
	font-weight: bold;
	display:inline-block;
	color:#000;
	padding:25px 15px 25px 10px;
	margin:0;
	line-height: 1;
}

#logo > span {
	font-weight: normal;
	font-family: Georgia;
	font-style: italic;
}

#topnav {
	list-style: none;
	font-size: 12px;
	font-weight: bold;
	float: right;
	margin: 20px 0px 0px 0px;
}

#topnav > li {
	float: left;
	padding: 4px;
	margin: 0;
}
#topnav > li > a {
	color: #000;
	display: inline-block;
	padding: 2px 8px;
	text-decoration: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#topnav > li > a:hover {
	color: #fff;
	background: #000;
}

#header {
	border-bottom: 1px #ccc solid;
	background: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

#output {
	padding: 40px 20px;
}

.soft {
	color: #999;
}