* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*  --------------------------------------------------
Panels
-------------------------------------------------- */
div.panel {
  padding: 20px 20px 2px 20px;
  background: #efefef;
  background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
  background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  margin: 0 0 20px 0;
}


/* -------------------------------------------------- 
:: Mobile Visibility Affordances
---------------------------------------------------*/


.show-on-phones { display: none !important; } 
.show-on-tablets { display: none !important; }
.show-on-desktops { display: block !important; }

.hide-on-phones { display: block !important; }  
.hide-on-tablets { display: block !important; }
.hide-on-desktops { display: none !important; }


/* Modernizr-enabled tablet targeting */
@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .touch .hide-on-phones { display: block !important; }
  .touch .hide-on-tablets { display: none !important; }
  .touch .hide-on-desktops { display: block !important; }
  
  .touch .show-on-phones { display: none !important; }
  .touch .show-on-tablets { display: block !important; }
  .touch .show-on-desktops { display: none !important; }
}

  
@media only screen and (max-width: 767px) {
  .hide-on-phones { display: none !important; }
  .hide-on-tablets { display: block !important; }
  .hide-on-desktops { display: block !important; }
  
  .show-on-phones { display: block !important; }
  .show-on-tablets { display: none !important; }
  .show-on-desktops { display: none !important; }
}


/* Specific overrides for elements that require something other than display: block */

table.show-on-desktops { display: table !important; }
table.hide-on-phones { display: table !important; } 
table.hide-on-tablets { display: table !important; }

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .touch table.hide-on-phones { display: table !important; }
  .touch table.hide-on-desktops { display: table !important; }
  .touch table.show-on-tablets { display: table !important; }
}

@media only screen and (max-width: 767px) {
  table.hide-on-tablets { display: table !important; }
  table.hide-on-desktops { display: table !important; }
  table.show-on-phones { display: table !important; }
}